node_modules/
/.pnp*
/.pnpm-store/
dist/
dist-*/
public/dist/
/.vite
.env
.env.*
local_static/
/tmp/www_static/
/www/wwwroot/
*.log
.DS_Store
.idea/
.vscode/
coverage/
.nyc_output/
.cache/
*.tgz
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml
*.local
*.bak
*.swp
public/